// 基础色
$color-primary: #f84225;
$color-danger: #f84d4f;
$color-accent: #ffc600;

// 功能色
$color-background: $color-accent;
$color-border: #e8e8e8;
$color-text-link: #2997ff;
$color-text-strong: #ff870e;
$color-text: #323232;
$color-text-secondary: #787878;
$color-text-tips: #a0a0a0;
$color-text-placeholder: #c8c8c8;

// 字号
$font-size-xs: 20px;
$font-size-sm: 24px;
$font-size-bs: 28px;
$font-size-md: 32px;
$font-size-lg: 36px;
